<!-- <div id="tab">
  <dl>
    <dt>Tab 1</dt>
    <dd>
      <textarea id="editor">Hello, world!</textarea>
      <% include ./editor.ejs %>
    </dd>

    <dt>Tab 2</dt>
    <dd class="hidden">ByeBye</dd>
  </dl>
</div>

<script>
  var $menuEle = $("dt"); // 탭메뉴를 변수에 지정
  $menuEle.click(function () {
    // 탭메뉴 클릭 이벤트
    $("dd").addClass("hidden");
    $(this).next().removeClass("hidden");
  });
</script> -->
